img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #21262b;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  border-bottom: 2px solid #21262b;
  width: 30%;
  padding-bottom: 10px;
}
