/* startpoint */
body {
  font-family: 'Titillium Web', sans-serif;
  padding: 20px;
  width: 700px;
  border: 20px solid #bdc3c7;
  margin: 20px auto;
}

blockquote {
  margin: 0;
  padding-left: 5px;
}

hr {
  border: 0.5px solid black;
}

.post {
  margin-bottom: 20px;
}

.bquote {
  padding-left: 5px;
  border-left: 6px solid #bdc3c7;
}

.date {
  font-size: 18px;
  color: #2c3e50;
  text-transform: uppercase;
  color: #3498db;
  letter-spacing: 0.2rem;
}
/* endpoint */
