body {
  background: url(https://i.ytimg.com/vi/7QzPsehkzwY/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

#content {
  text-align: center;
  padding-top: 25%;
}
